<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.superarilo.myblog.mapper.InformMapper">


    <resultMap id="list" type="informVO">
        <id property="id" column="id"/>
        <result property="notifier" column="notifier"/>
        <result property="receiver" column="receiver"/>
        <result property="content" column="content"/>
        <result property="eventId" column="event_id"/>
        <result property="read" column="is_read"/>
        <result property="sys" column="is_sys"/>
        <result property="createTime" column="create_time"/>
        <result property="receiverUsername" column="receiverUsername"/>
    </resultMap>

    <select id="listInformByReceiver" resultMap="list">
        SELECT
            inform.id,
            inform.notifier,
            inform.receiver,
            inform.content,
            inform.event_id,
            inform.is_read,
            inform.is_sys,
            inform.create_time,
            ui.username AS receiverUsername
        FROM inform
        INNER JOIN user_information AS ui ON ui.uid = inform.notifier
        WHERE inform.receiver = #{receiver}
        ORDER BY inform.create_time DESC, inform.id ASC
    </select>
</mapper>
