<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.superarilo.myblog.mapper.UserInformationMapper">
    
    
    <resultMap id="userInfo" type="map">
        <id property="uid" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="userhead" column="userhead"/>
        <result property="class" column="class"/>
        <result property="registertime" column="registertime"/>
        <result property="javaMcId" column="java_Mc_id"/>
        <result property="username" column="mc_uuid"/>
        <result property="classColor" column="classColor"/>
        <result property="className" column="className"/>
    </resultMap>
    
    <select id="queryUserInfo" resultMap="userInfo">
        SELECT
            ui.uid,
            ui.username,
            ui.email,
            ui.userhead,
            ui.class,
            ui.registertime,
            ui.java_Mc_id,
            ui.mc_uuid,
            sd.dict_value AS classColor,
            sd.dict_describe AS className
        FROM
            user_information AS ui
        LEFT JOIN sys_dictionary AS sd ON sd.dict_type = ui.class AND sd.is_deleted = 0 AND sd.dict_enable = 1
        WHERE ui.uid = #{uid}
    </select>
    
</mapper>
